:root {
    --purple: #9747FF;
    --yellow: #e6fc5c;
    --red: #FF2F01;
    --ltblue: #02AFFF;
    --hotpink: #FA0184;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation Bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 35;
    margin-right: 5rem;
}

.logo {
    margin: 2rem;
    max-width: 125px;
    min-width: 50px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--gap, 3rem);
}

.navbar a{
    text-decoration: none;
    font-weight: 400;
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 6px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navbar{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .navbar li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*Video Hero Style*/
.vidHero {
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vidHero::after {
    width: 100%;
    height: 100%;
    content: '';
    position:absolute;
    z-index: -20;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.vidHero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -25;
    object-fit: cover;
}

.vidHero .intro {
    position: relative;
    z-index: 20;
    text-align: center;
    color: white;
}

.vidHero .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -15;   
    background-image: url('../imgs/cross-stripes.png');
}

.vidHero .intro {
    width: 75%;
}

.vidHero .intro h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.vidHero .intro h2 {
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 0;
}


/*Search Inputs Styling*/
.vidHero .intro .searchSection {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 20px 20px;
}

.vidHero .intro .searchSection .search_input_item {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: flex;
    color: white;
    border-radius: 12px;
    /*margin: 0 10px 10px;*/
    /*padding: 0 10px;*/
    box-sizing: border-box;
    flex-grow: 1;
}

.vidHero .intro .searchSection .search_input_item input[type=text] {
    width: 100%;
    min-width: 300px;
    float: left;
    margin: 15px 8px 0px;
    padding: 15px 15px;
    border: 1px white solid;
    border-radius: 50px;
    background-color: rgba(220, 189, 153, 0.20);
    color: inherit;
}

#genres {
    width: 100%;
    min-width: 150px;
    float: right;
    margin: 15px 8px 0px;
    padding: 15px 15px;
    border: 1px white solid;
    border-radius: 50px;
    background-color: rgba(220, 189, 153, 0.20);
    color: inherit;
}

.vidHero .intro .searchSection .search_input_item input[type=date] {
    width: 100%;
    min-width: 150px;
    float: right;
    margin: 15px 8px 0px;
    padding: 15px 15px;
    border: 1px white solid;
    border-radius: 50px;
    background-color: rgba(220, 189, 153, 0.20);
    color: inherit;
}

  /* Testing w/ JS */
#events-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.event-card {
    flex-basis: 33.33%;
    /* border-bottom: solid 2px black; */
}

.event-card p {
    border-bottom: solid 2px black;
    padding: 5px;
}

/*add responsiveness*/
@media screen and (min-width:1020px) {
    .vidHero .intro h1 {
        font-size: 5rem;
    }
    .vidHero .intro h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:1020px) {
    .vidHero .intro h1 {
        font-size: 4rem;
    }
    .vidHero .intro h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:768px) {
    .vidHero .intro h1 {
        font-size: 3rem;
    }
    .vidHero .intro h2 {
        font-size: 1rem;
    }
}
