:root {
  --purple: #9747ff;
  --yellow: #e6fc5c;
  --red: #ff2f01;
  --ltblue: #02afff;
  --hotpink: #fa0184;
  --bg-darkgrey: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: var(--bg-darkgrey);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/*Navigation Bar*/
nav {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  z-index: 35;
  margin-right: 5rem;
}

.logo {
  margin: 2rem;
  max-width: 7rem;
  flex-shrink: 2;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--gap, 3rem);
}

.navbar a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar a:hover {
  font-weight: 800;
  color: var(--yellow);
  cursor: pointer;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 6px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*Video Hero Style*/
header {
  border-bottom: 1px solid var(--yellow);
  box-shadow: 2px 4px 4px 2px rgba(119, 119, 119, 0.555);
}

.vidHero {
  height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.vidHero::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.vidHero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -25;
  object-fit: cover;
}

.vidHero .intro {
  position: relative;
  z-index: 20;
  text-align: center;
  color: white;
}

.vidHero .intro {
  width: 75%;
  padding-bottom: 4rem;
}

.vidHero .intro h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.vidHero .intro h2 {
  text-transform: lowercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0;
}

/*Search Inputs Styling*/
.vidHero .intro .searchSection {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 20px 20px;
}

.vidHero .intro .searchSection .search_input_item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-wrap: flex;
  color: white;
  border-radius: 12px;
  /*margin: 0 10px 10px;*/
  /*padding: 0 10px;*/
  box-sizing: border-box;
  flex-grow: 1;
}

.vidHero .intro .searchSection .search_input_item input[type="text"] {
  width: 100%;
  min-width: 300px;
  float: left;
  margin: 15px 8px 0px;
  padding: 15px 15px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

#genres {
  width: 100%;
  min-width: 150px;
  float: right;
  margin: 15px 8px 0px;
  padding: 15px 15px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

.vidHero .intro .searchSection .search_input_item input[type="date"] {
  width: 100%;
  min-width: 150px;
  float: right;
  margin: 15px 8px 0px;
  padding: 15px 15px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

/*Search Results Styling*/
#events-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#panel-footer {
  /* margin: 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--bg-darkgrey);
  padding: 20px;
}

.panel-title {
  color: var(--ltblue);
  font-size: 25px;
}

.panel-body {
  flex-basis: 66.66%;
  margin: 0px;
}

.panel-side {
  flex-basis: 16.66%;
}

.list-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-group .list-group-item {
  max-width: 800px;
  width: 600px;
  padding-bottom: 10px;
}

.list-group-item .list-group-item-heading {
  background-color: rgb(24, 19, 19);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 0px;
  font-family: "Oswald", sans-serif;
  color: #9747ff;
  margin: 2px;
}

.list-group-item .list-group-item-heading:hover {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.255);
  color: var(--hotpink);
  background-color: rgb(20, 20, 20);
}

.list-group-item {
  text-decoration: none;
}

.panel-footer nav {
  margin: 0px;
}

.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

.pager a {
  text-decoration: none;
  size: 50px;
  color: var(--yellow);
}

.previous,
.next {
  list-style: none;
  cursor: pointer;
  font-size: 35px;
}

#previous {
  padding-right: 5px;
}

#next {
  padding-left: 5px;
}

.panel-heading {
  align-items: center;
  text-align: center;
}

.attraction-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: var(--bg-darkgrey);
  padding: 10px;
}

#attraction-display {
  flex-basis: 80%;
  flex-grow: 2;
  margin: 0px;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.attraction-side {
  flex-basis: 20%;
}

#attraction {
  text-align: center;
  color: var(--purple);
  font-size: 18px;
  margin-right: 5px;
}

#attraction-img {
  margin-left: 5px;
}

#event-title {
  font-size: 32px;
}

#search-button {
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 18px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.255);
  color: var(--hotpink);
  background-color: rgb(54, 54, 54);
  cursor: pointer;
}

#search-button:hover {
  color: var(--ltblue);
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.255);
}

li a:hover {
  color: var(--hotpink);
}

#goback-btn {
  padding: 2px 8px;
  border-radius: 22px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.255);
  color: var(--hotpink);
  background-color: rgb(54, 54, 54);
  cursor: pointer;
  font-size: 12px;
}

#goback-btn:hover {
  color: var(--ltblue);
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.255);
}

/* #goback-btn a {
    font-size: 18px;
} */
/* .results {
    background-color: black;
    display: none;
    display: block;
    padding: 5rem;
    color: black;
}

.results h4:hover {
    color: #9747FF;
    cursor: pointer;
}

#attraction {
    color: white;
}

.resultsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.accordionItem {
    border-bottom: 1px solid rgba(151, 71, 255, 0.5);
    padding: 1.5rem 0;
}

.accordionTitle {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

.eventStats {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
} 

p.venue {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.rem;
}

.accordionCollapse {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.accordionTitle + .accordionCollapse {
    display: none;
}

.accordionTitle.is-open {
    color: #9747FF;
}

.accordionTitle.is-open + .accordionCollapse {
    display: block;
}

#attraction-panel {
    display: flex;
    padding: 2rem;
}

.eventStats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.venue {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: .75rem;
    letter-spacing: 2px;
}

.eventImg img {
    width: 4rem;
    height: 3rem;
}

.googleMapResults {
    flex-grow: 1;
    order: 2;
}

#events {
    flex-grow: 2;
    order: 1;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: .75rem;
    color: white;
}

.pager {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: white;
}

/*Footer Styling*/
footer {
  /* border-top: 1px solid rgb(20, 20, 20); */
  /* box-shadow: 2px -3px 4px 2px rgba(201, 255, 52, 0.507); */
  background-image: linear-gradient(135deg, #4e05ae, #fa0184, #e6fc5c);
  margin: 0;
  align-items: center;
}
.footer-text {
  margin: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2rem;
}

#developers {
  padding: 5rem;
}

/* #events-section {
} */

/* Testing w/ JS */
/* #events-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
} */

/* .event-card {
  flex-basis: 33.33%;

} */

/* .event-card p {
  border-bottom: solid 2px black;
  padding: 5px;
} */

/*add responsiveness*/
@media screen and (min-width: 1020px) {
  .vidHero .intro h1 {
    font-size: 5rem;
  }
  .vidHero .intro h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1020px) {
  .vidHero .intro h1 {
    font-size: 4rem;
  }
  .vidHero .intro h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .vidHero .intro h1 {
    font-size: 3rem;
  }
  .vidHero .intro h2 {
    font-size: 1rem;
  }
  body {
    overflow-x: hidden;
  }
  .navbar {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .navbar li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

/*for Mobile*/
@media screen and (max-width: 414px) {
  .vidHero .intro h1 {
    font-size: 2rem;
  }
  .vidHero .intro h2 {
    font-size: 0.75rem;
  }
  body {
    overflow-x: hidden;
  }
  .navbar {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 7vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .navbar li {
    opacity: 0;
  }
  .burger {
    right: 0px;
    display: block;
  }
  .vidHero .intro .searchSection .search_input_item input[type="text"] {
    min-width: auto;
  }
}
