:root {
  --purple: #9747ff;
  --yellow: #e6fc5c;
  --red: #ff2f01;
  --ltblue: #02afff;
  --hotpink: #fa0184;
  --bg-darkgrey: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section #events-section {
  background-color: var(--bg-darkgrey);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/*Navigation Bar*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4em;
  overflow-y: hidden;
}

.logo {
  margin: 2rem;
  max-width: 6rem;
  flex-shrink: 2;
}

.primary-navigation {
  font-family: "Oswald", sans-serif;
  display: flex;
  letter-spacing: 3px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.primary-navigation a:hover {
  font-weight: 800;
  color: var(--yellow);
  cursor: pointer;
}

.primary-navigation li {
  min-width: 6rem;
}

.mobileNav-toggle {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 6px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*Video Hero Style*/
.vidHero {
  height: calc(100vh - 7.5rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.vidHero::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.vidHero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -25;
  object-fit: cover;
}

.vidHero .intro {
  position: relative;
  z-index: 20;
  text-align: center;
  color: white;
}

.vidHero .intro {
  width: 75%;
  padding-bottom: 4rem;
}

.vidHero .intro h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.vidHero .intro h2 {
  text-transform: lowercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0;
}

/*Search Inputs Styling*/
.vidHero .intro .searchSection {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 20px 20px;
}

.vidHero .intro .searchSection .search_input_item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-wrap: flex;
  color: white;
  border-radius: 12px;
  box-sizing: border-box;
  flex-grow: 1;
}

.vidHero .intro .searchSection .search_input_item input[type="text"] {
  width: 100%;
  min-width: 300px;
  float: left;
  margin: 15px 8px 0px;
  padding: 15px 15px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

#genres {
  width: 100%;
  min-width: 150px;
  float: right;
  margin: 15px 8px 0px;
  padding: 15px 15px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

.vidHero .intro .searchSection .search_input_item input[type="date"] {
  width: 100%;
  min-width: 150px;
  float: right;
  margin: 15px 8px 0px;
  padding: 15px 15px;
  border: 1px white solid;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

/*Search Results Styling*/
/* #events-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

/* .display-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
} */

.panel-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--purple);
  font-size: 1rem;
}

.panel-body {
  /* width: 80vw; */
  padding-top: 2em;
  margin: 0px;
}

.panel-side {
  flex-basis: 0;
}

.list-group {
  /* display: flex;
  flex: column; */
  width: 80vw;
  flex-shrink: 1;
  margin: .5rem;
  justify-content: flex-start;
}

/* .list-group .list-group-item {
  /* max-width: 800px; */
  /* width: 80vw; 
} */

.list-group-item .list-group-item-heading {
  border-bottom: 1px solid rgb(30, 30, 30);
  padding: 15px;
  cursor: pointer;
  align-items: center;
  text-align: left;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #9747ff;
  margin: 2px;
  text-decoration: none;
}

.list-group-item .list-group-item-heading:hover {
  color: var(--hotpink);
  background-color: rgb(20, 20, 20);
}

#panel-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-footer nav {
  margin: 0px;
}

.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

.pager a {
  text-decoration: none;
  size: 50px;
  color: var(--yellow);
}

.previous,
.next {
  list-style: none;
  cursor: pointer;
  font-size: 35px;
}

#previous {
  padding-right: 5px;
}

#next {
  padding-left: 5px;
}

.panel-heading {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 1.2rem;
  border-bottom: 1pt solid lightgray;
}

.attraction-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-between;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

#attraction-panel--hidden {
  display: none; 
}

#attraction-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-basis: 80%;
  flex-grow: 2; */
  margin: 0px;
}

.info {
  flex-basis: 20%;
  flex-grow: 1;
  order: 1;
}

#event-title {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 10px 0;
  color: white;
}

/* .attraction-side {
  flex-basis: 20%;
} */

/* #attraction {
  /* text-align: center; */
  /* display: flex;
  color: var(--purple);
  font-size: 18px; */
  /* margin-right: 5px; 
} */

.band-info {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#classification {
  font-size: 1.2rem;
  color: white;
}

#attraction-img {
  width: 100%;
  height: 100%;
  flex-shrink: inherit;
  overflow: hidden;
}

#attraction-img img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
}

#search-button {
  margin: 20px 0 0 10px;
  padding: .3rem 1.5rem;
  border-radius: 50px;
  border: 1pt solid var(--hotpink);
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.255);
  color: var(--hotpink);
  /* background-color: rgb(54, 54, 54); */
  cursor: pointer;
  font-size: 1.25rem;
}

#search-button:hover {
  color: var(--ltblue);
  background-color: rgba(0, 138, 159, 0.318);
  border: 1pt solid var(--ltblue);
}

li a:hover {
  color: var(--hotpink);
}

#goback-btn {
  /* margin: 20px 10px 0 0; */
  padding: 2px 8px;
  border-radius: 22px;
  color: var(--purple);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

#goback-btn:hover {
  color: var(--ltblue);
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.255);
}

.video {
  position: relative;
  width: 80%;
  padding-bottom: 56.25%; 
  height: 0;
}

.video iframe{
  position: absolute;
  top:2em;
  right: 0;
  width: 80%;
  height: 80%;
}

/* #goback-btn a {
    font-size: 18px;
} */
/* .results {
    background-color: black;
    display: none;
    display: block;
    padding: 5rem;
    color: black;
}

.results h4:hover {
    color: #9747FF;
    cursor: pointer;
}

#attraction {
    color: white;
}

.resultsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.accordionItem {
    border-bottom: 1px solid rgba(151, 71, 255, 0.5);
    padding: 1.5rem 0;
}

.accordionTitle {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

.eventStats {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
} 

p.venue {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.rem;
}

.accordionCollapse {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.accordionTitle + .accordionCollapse {
    display: none;
}

.accordionTitle.is-open {
    color: #9747FF;
}

.accordionTitle.is-open + .accordionCollapse {
    display: block;
}

#attraction-panel {
    display: flex;
    padding: 2rem;
}

.eventStats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.venue {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 800;
}

h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: .75rem;
    letter-spacing: 2px;
}

.eventImg img {
    width: 4rem;
    height: 3rem;
}

.googleMapResults {
    flex-grow: 1;
    order: 2;
}

#events {
    flex-grow: 2;
    order: 1;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: .75rem;
    color: white;
}

.pager {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: white;
}

/*Footer Styling*/
footer {
  /* border-top: 1px solid rgb(20, 20, 20); */
  /* box-shadow: 2px -3px 4px 2px rgba(201, 255, 52, 0.507); */
  background-image: linear-gradient(135deg, #4e05ae, #fa0184, #e6fc5c);
  margin: 0;
  align-items: center;
}
.footer-text {
  margin: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2rem;
}

#developers {
  padding: 5rem;
}

#events-section {
  background-color: black;
  padding: 5rem;
  display: block;
}

/* Testing w/ JS */
/* #events-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
} */

/* .event-card {
  flex-basis: 33.33%;

} */

/* .event-card p {
  border-bottom: solid 2px black;
  padding: 5px;
} */

/*add responsiveness*/
@media screen and (min-width: 560.01px) {
  .vidHero .intro h1 {
    font-size: min(7vw, 6rem);
  }
  .vidHero .intro h2 {
    font-size: min(2vw, 2rem);
  }
  /* body {
    overflow-x: hidden;
  } */
  .primary-navigation {
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
  }
  /* .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  } */

  /* .primary-navigation li {
    opacity: 0;
  } */
  /* .mobileNav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right:2rem;
    border:0;
  } */
}

/*for Mobile*/
@media screen and (max-width: 560px) {
  .vidHero .intro h1 {
    font-size: min(5vh, 2.5rem);
  }
  .vidHero .intro h2 {
    font-size: 0.75rem;
  }
  body {
    overflow-x: hidden;
  }
  .primary-navigation {
    --gap: 3em;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    padding: min(25vh, 10rem) 3em;
    border:0;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .primary-navigation[data-visible="true"]{
    transform: translateX(10%);
  }
  .index {
    z-index: 2000;
  }

  .mobileNav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right:2rem;
    border:0;
  }
  /* .primary-navigation li {
    opacity: 0;
  } */

  .burger {
    right: 0px;
    display: block;
  }
  .vidHero .intro .searchSection .search_input_item input[type="text"] {
    min-width: auto;
  }
}
